[Unit]
Description=Flask App2 - Kalkulator pakowania - raport palety
After=network.target

[Service]
User=konrad
Group=konrad
WorkingDirectory=/home/konrad/apps/app5/qc3_web
Environment="PATH=/home/konrad/apps/app5/qc3_web/venv/bin"
Environment="FLASK_APP=app.py"
Environment="FLASK_ENV=production"
ExecStart=/home/konrad/apps/app5/qc3_web/venv/bin/gunicorn -b 127.0.0.1:5005 app:app
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
